name: bulid2410

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false


env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: openwrt-25.12
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Free up space
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Initialize environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install -y \
          ack antlr3 asciidoc autoconf automake autopoint binutils bison \
          build-essential bzip2 ccache clang cmake cpio curl device-tree-compiler \
          ecj fastjar flex gawk gettext gcc-multilib g++-multilib git gnutls-dev \
          gperf haveged help2man intltool lib32gcc-s1 libc6-dev-i386 libelf-dev \
          libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev \
          libncurses-dev libpython3-dev libreadline-dev libssl-dev libtool \
          libyaml-dev libz-dev lld llvm lrzsz mkisofs msmtp nano ninja-build \
          p7zip p7zip-full patch pkgconf python3 python3-pip python3-ply \
          python3-docutils python3-pyelftools qemu-utils re2c rsync scons \
          squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim \
          wget xmlto xxd zlib1g-dev zstd libfuse-dev fuse
        sudo -E apt-get -qq autoremove --purge > /dev/null
        sudo -E apt-get -qq clean > /dev/null
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        cache: false # 避免找不到 go.sum 时的 Warning

    - name: Verify Go version
      run: |
        go version
        echo "GOROOT=$GOROOT" >> $GITHUB_ENV
        echo "GOPATH=$GOPATH" >> $GITHUB_ENV

    - name: Clone source code
      working-directory: /workdir
      run: |
        git clone $REPO_URL -b $REPO_BRANCH --single-branch --depth=1 openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
        echo "FILE_DATE=$(date +"%Y%m%d")" >> $GITHUB_ENV

    - name: Update & Install feeds
      run: |
        chmod +x armsr/armv8/diy/diy.sh
        cd openwrt
        ./scripts/feeds update -a
       
        ./scripts/feeds install -a
        # 在 openwrt 目录下执行 DIY 脚本
        $GITHUB_WORKSPACE/armsr/armv8/diy/diy.sh
        

    - name: Load N1 custom config
      run: |
        rm -rf openwrt/files openwrt/.config
        [ -d armsr/armv8/N1/files ] && mv armsr/armv8/N1/files openwrt/
        [ -f armsr/armv8/N1/.config ] && mv armsr/armv8/N1/.config openwrt/

    - name: SSH connect to Actions
      uses: P3TERX/ssh2actions@main
      if: github.event.inputs.ssh == 'true'

    - name: Download package
      working-directory: ./openwrt
      run: |
        make defconfig
        make download -j$(( $(nproc) * 2 ))
        find dl -size -1k -exec rm -f {} \;

    - name: Compile N1 firmware
      id: compile
      run: |
        chmod -R 755 openwrt
        cd openwrt
        # 强制使用 Setup-Go 安装的路径
        export PATH=$GOROOT/bin:$PATH
        export GOTOOLCHAIN=auto
        echo -e "$(nproc) thread compile"
        make -j$(( $(nproc) + 1 )) || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Package N1 firmware
      if: steps.compile.outputs.status == 'success'
      uses: unifreq/openwrt_packit@master
      env:
        OPENWRT_ARMVIRT: openwrt/bin/targets/armsr/armv8/*rootfs.tar.gz
        KERNEL_REPO_URL: breakingbadboy/OpenWrt
        KERNEL_VERSION_NAME: 6.6.y_6.12.y
        PACKAGE_SOC: diy
        GZIP_IMGS: .xz
        SCRIPT_DIY_PATH: armsr/armv8/N1/mk_s905d_n1.sh
        WHOAMI: nantayo
        SW_FLOWOFFLOAD: 0
        SFE_FLOW: 0

    - name: Upload firmware to release
      uses: softprops/action-gh-release@master
      if: steps.compile.outputs.status == 'success'
      with:
        tag_name: OpenWrt_${{ env.FILE_DATE }}
        files: ${{ env.PACKAGED_OUTPUTPATH }}/*.img.xz
        body: |
          首次使用建议全新刷写
          * 基本信息
          IP: 192.168.2.2
          账户: root
          密码: password

    - name: Delete old releases
      uses: dev-drprasad/delete-older-releases@master
      with:
        keep_latest: 2
        delete_tags: true
    - name: Delete old workflow runs
      uses: Mattraks/delete-workflow-runs@v2.1.0
      with:
        token: ${{ github.token }}
        repository: ${{ github.repository }}
        retain_days: 1
        keep_minimum_runs: 0
